body{
    background-color: #ffc9de;
    width : 100%;
    height : 100%
}

h1, h3, h2{
    text-align: center;
}
h3{
    font-size: 20px;
    margin-top: 37px;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 42px;
}
#animation{
    width: 290.3333333px;
    height: 210px;
    background : url("assets\\manWalking.png");
    margin : 0 auto;
    animation: walk-cycle 2.0s steps(6) infinite;
    margin-top: 140px;
}

@keyframes walk-cycle{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 350px;
    }

}