
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .btn{
    background-color: #ba9fe7;
    color: whitesmoke;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 15px;
    transition-duration: 0.4s;
    margin-right: 5px;
    border: none;
    
}
.btn:hover{
    background-color: #f0defd;
    color: #ba9fe7;
    /* border-color: #ba9fe7; */
    box-shadow: 0 8px 10px 0 grey, 0 14px 40px 0 rgba(0,0,0,0.19);
}

